*{
	font-size:20px;
	font-family: NanumSquare;
}


#top
{
	margin-bottom:20px;
}


#main_menu
{
	margin-bottom:20px;
}


#main_menu a:link, a:visited
{
	color:darkcyan;
	padding:10px;
}

#main_menu a:hover
{
	color:whitesmoke;
	background:grey;
}




#footer
{
	font-size:18px;
	font-family:NanumGothic;
	text-align:center;
	color:red;
}

#content
{
	margin-top:30px;
	margin-bottom:30px;
}

#content table
{
	padding:10px;
	border-collapse:collapse;
}

#content table tr
{
	height:25px;
}


#content table tr a:link, 
#content table tr a:visited
{ 
	color:black;
}

#content table tr a:hover
{ 
	color:blue;
}

a{
  font-weight: bold;
}

